.menu--wrap .menu__toggler {
    position: absolute;
    top: 1rem;
    left: 1.2rem;
    z-index: 3;
    cursor: pointer;
    width: 60px;
    height: 60px;
    opacity: 0;
}

.menu--wrap .menu__hamburger {
    position: absolute;
    top: 1rem;
    left: 1.2rem;
    z-index: 2;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Linea del menu */
.menu--wrap .menu__hamburger > div {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    transition:  all 400ms ease;
}

/* Lineas superior e inferior */
.menu--wrap .menu__hamburger > div::before,
.menu--wrap .menu__hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 2;
    top: -10px;
    width: 100%;
    height: 3px;
    background: inherit;

}

/* Mueve la linea hacia abajo */
.menu--wrap .menu__hamburger > div::after {
    top: 10px;
}

/* Animacion del menu__toggler */
.menu--wrap .menu__toggler:checked + .menu__hamburger > div {
    transform: rotate(135deg);
}

/* Combierte las lineas en una X */
.menu--wrap .menu__toggler:checked + .menu__hamburger > div::before,
.menu--wrap .menu__toggler:checked + .menu__hamburger > div::after{
    top: 0;
    transform: rotate(90deg);
}

/* Mostrar el menu */
.menu--wrap .menu__toggler:checked ~ .menu {
    visibility: visible;
}

.menu--wrap .menu__toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 750ms;
}

.menu--wrap .menu__toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 400ms ease;
}

.menu--wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu--wrap .menu > div {
    background: rgba(0, 0, 0, 0.75);
    border-radius: 20%;
    width: 200vw;
    height: 200vh;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 400ms ease;
}

.menu--wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 400ms ease;

}

.menu--wrap .menu > div > div > ul > li {
    color: rgb(255, 255, 255);
    margin: 2rem;
    padding: 0.5rem 1.5rem;
    border-radius: .8rem;
    background-color: rgba(127, 255, 212, 0.7);
}

.menu--wrap .menu > div > div > ul > li > a {
    color: inherit;
    font-family: 'roboto', sans-serif;
    font-size: 2.4rem;
    font-weight: 800;
    letter-spacing: 2px;
    transition: color 400ms ease;
    text-shadow: .1rem .1rem .5rem rgb(0, 0, 0);
}

@media screen and (min-width: 768px) {
    .menu--wrap .menu__toggler {
        top: 1.7rem;
        left:1.7rem;
    }

    .menu--wrap .menu__hamburger {
        top: 1.7rem;
        left: 1.7rem;
    }

    .menu--wrap .menu > div > div > ul > li {
        margin: 3rem;
        padding: 1rem 2rem;
    }

    .menu--wrap .menu > div > div > ul > li > a {
        font-family: 'roboto', sans-serif;
        font-size: 3rem;
    }
}
