/* COLORES */
$ligth-color: #f5f5f5;
$dark-color: #202020;
$accent-color1: #ffe17f;
$accent-color2: #9fa664;
$font-color: #000000;

/* FONTS */
$font-principal: 'montserrat', sans-serif;
$font-secundaria: 'roboto', sans-serif;

/* TITULOS / PARRAFOS */

